<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-background-video" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BackgroundVideo</name>
 
    <!-- define the module name to use in .ts files, and specify the js file that implements exported functions -->
    <js-module name="backgroundVideo" src="www/backgroundVideo.js">
        <clobbers target="cordova.plugins.backgroundVideo" />
    </js-module>

    <!-- android -->
    <platform name="android">
         
        <!-- define plugin service name to use and java code to execute into android app-->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundVideo">
                <param name="android-package" value="com.crossAppStudio.backgroundVideo.BackgroundVideoPlugin" />
            </feature>
        </config-file>

        <!-- add specific authorisation here -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <!--<uses-feature android:name="android.hardware.camera" android:required="false" />-->
            <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="26" />
 
       </config-file>

        <!-- insert new service -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application/">
            <service android:enabled="true" android:name="com.crossAppStudio.backgroundVideo.BackgroundVideoService" />
        </config-file>

        <source-file src="src/android/BackgroundVideoPlugin.java" target-dir="src/com/crossAppStudio/backgroundVideo" />
        <source-file src="src/android/BackgroundVideoService.java" target-dir="src/com/crossAppStudio/backgroundVideo" />

        <!-- copy ressource file -->
        <source-file src="src/android/res/drawable-hdpi/ic_camera_on.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/res/drawable-mdpi/ic_camera_on.png" target-dir="res/drawable-mdpi/" />
        <source-file src="src/android/res/drawable-xhdpi/ic_camera_on.png" target-dir="res/drawable-xhdpi/" />
        <source-file src="src/android/res/drawable-xxhdpi/ic_camera_on.png" target-dir="res/drawable-xxhdpi/" />

        <!-- import other repo and compile them -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    </platform>
</plugin>